.regular__card__wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;

  .regular__card {
    width: 15rem;
    height: 5rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid $active-color;
    margin: 1rem;
    h2 {
      position: relative;
    }

    p {
      position: absolute;
      left: 50%;
      bottom: -1rem;
      transform: translateX(-50%);
    }
  }
}

.card {
  width: 20rem;
  height: 35rem;
  border: 1px solid $active-color;
}