.wood {
  color: rgb(177, 68, 6);
}
.gold {
  color: rgb(245, 208, 0);
}
.stone {
  color: rgb(201, 177, 145);
}
.time {
  color: rgb(1, 107, 194);
}
.reload {
  color: rgb(152, 175, 23);
}
.attack--delay {
  color: rgb(148, 69, 69);
}
.move {
  color: rgb(35, 115, 219);
}
.vision {
  color: rgb(66, 146, 100);
}
.hit {
  color: rgb(230, 95, 18);
}
.attack {
  color: rgb(206, 1, 1);
}
.range {
  color: rgb(171, 53, 240);
}
.armor {
  color: rgb(0, 62, 121);
}
.target {
  color: rgb(240, 53, 53);
}
.food {
  color: rgb(221, 99, 61);
}
.age {
  color: rgb(57, 218, 111);
}
.expansion {
  color: rgb(53, 240, 224);
}
.castle {
  color: rgb(218, 13, 64);
}
.bonus {
  color: rgb(121, 211, 158);
}