$main-color: #32b1c2;
$secondary-color: #FEFBF3;
$background-color: #141414;
$active-color: rgb(102, 235, 241);

$glass-color: rgba(0, 0, 0, 0.918);
$small-font: 1.4rem;
$regular-font: 1.6rem;
$large-font: 2.2rem;
$jumbo-font: 2.6rem;